.course-context {
  background-color: rgba(233, 233, 233, 0.912);
	margin: 100px 0px;
	padding: 50px 0px;
}

.video-player {
    display: flex;
    justify-content: center; 
}

.video-list-container{
  height: 720px;
  width: 300px;
  overflow-y: scroll;
  background-color: #f6f6f6; /* Add a grey background color */
}

.video-list-container > ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.video-list-container > ul li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 24px; /* Add some padding */
}

.selected{
  background-color: gray;
}

.course-all-info {
  display: flex;
  justify-content: center; 
  padding: 0px 250px;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.course-info{
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

/* Style tab links */
.course-tabs{
  padding: 20px 250px;
}

.course-tab {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.course-tab:hover {
  background-color: #777;
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
  
#detail {background-color: rgb(178, 178, 178);}
#question {background-color: rgb(178, 178, 178);}
#discussion {background-color: rgb(178, 178, 178);}
#rating {background-color: rgb(178, 178, 178);}


/* Q&A and Discussion */

.containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 900px;
    min-height: 100px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
  
.avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.avatar img {
    border-radius: 50%;
}

.input-area{
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: flex-end;
}

.text {
    width: 800px;
}

textarea{
    width: 800px;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.checked{
    color: rgba(255, 208, 0, 0.891)
}

/* Rating */

.rating-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #EFEFEF;
    padding: 4px;
  }
  
  .inner {
    padding: 1em;
    background-color: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
  }
  
  .rating {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: center;
  }
  
  .rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em; 
  }
  
  .rating-users {
    font-size: 14px;
  }
  
  .histo {
    float: left;
    width: 50%;
    font-size: 13px;
  }
  
  .histo-star {
    float: left;
    padding: 3px;
  
  }
  
  .histo-rate {
    width: 100%;
    display: block;
    clear: both;
  }
  
  .bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }