.course-context {
  background-color: rgba(233, 233, 233, 0.912);
	padding: 50px 0px;
}

.video-player {
    display: flex;
    justify-content: center; 
}

.video-list-container{
  height: 720px;
  width: 300px;
  overflow-y: scroll;
  background-color: #f6f6f6; /* Add a grey background color */
}

.video-list-container > ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.video-list-container > ul li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 24px; /* Add some padding */
  cursor: pointer;
}

.video-list-container > ul li:hover {
  background-color: lightgray;
}

.selected{
  background-color: gray;
}

.course-all-info {
  height: 150px;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0px 250px;
  margin: 60px 0px;
  background-color: white;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.course-info{
  text-align: center;
  display: inline-block;
  padding: 30px;
  margin: 10px;
}

.course-price{
  border-left: 1px #F2F2F2 solid;
  border-right: 1px #F2F2F2 solid;
}

.course-price-number{
  font-size: 36px;
  margin: 15px 5px;
  padding: 5px;
}

.course-title{
  font-size: 36px;
  max-width: 680px;
}

.detail-teacher-info{
  display: flex;
  align-items: center;
  justify-content: left;
}

.detail-teacher-name{
  font-size: 24px;
  margin-bottom: 25px;
}

.detail-teacher-info-words{
  margin: 15px;
}

.detail-teacher-pic{
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 50px;
}

.detail-teacher-info-a{
  border-radius: 50%;
}

.course-btns{
  display: flex;
  align-items: center;
}

.course-cart-btn {
  background-color: #e8b563;
  color: white;
  border: 2px solid #e8b563;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
  padding: 20px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.course-cart-btn:hover {
  background-color: #c19052;
}

.course-favorites-btn {
  background-color: white;
  color: #e8b563;
  border: 2px solid #e8b563;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
  padding: 20px 22px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.course-favorites-btn:hover {
  border: 2px #c19052 solid;
  color: #c19052;
}

/* Style tab links */
.course-tabs{
  padding: 60px 250px 100px 250px;
}

.course-tab {
  background-color: #313538;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 22px 16px;
  font-size: 16px;
  width: 25%;
}

.course-tab:hover {
  background-color: #e8b563
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 50px 20px 80px 20px;
  height: 100%;
}
  
#detail {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  line-height: 33px;
}
#question {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  line-height: 33px;
}
#discussion {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  line-height: 33px;
}
#rating {
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  line-height: 33px;
}

/* Course Detail*/

.course-info-detail{
  line-height: 28px;
  font-size: 16px;
  padding: 10px 70px;
  margin: 10px 45px;
  border-left: 2px #e8b563 solid;
}

.course-subtitle{
  font-size: 24px;
  color:#e8b563;
  padding: 10px 18px;
  margin: 30px 5px;
}

.detail-summary-line{
  display: flex;
  justify-content: space-around;
  padding: 5px 5px;
  margin: 5px 5px;
}

.detail-summary-side{
  display: flex;
  align-items: center;
  padding: 5px 30px;
  margin: 5px 5px;
}

.detail-summary-side > img{
  padding: 5px 5px;
  margin: 5px 30px;
}

/* Q&A and Discussion */

.containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 30px;
    margin: 10px 0;
    width: 900px;
    min-height: 200px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
  
.avatar {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.avatar img {
    border-radius: 50%;
}

.input-area{
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: flex-end;
}

.comment-btn {
  background-color: #313538;
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 8px 0px;
}

.comment-btn:hover {
  background-color: #686f75;
}

.tabcontent-title{
  font-size: 24px;
  color:#e8b563;
  padding: 10px 18px;
  margin: 0px 5px 30px 5px;
}

/* .containers{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */


.text {
    width: 725px;
    padding: 0px 5px;
}

textarea{
    width: 720px;
    height: 100px;
    resize: none;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.checked{
    color: rgba(255, 208, 0, 0.891)
}

/* Rating */

.rating-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #EFEFEF;
    padding: 4px;
  }
  
  .inner {
    padding: 1em;
    background-color: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
  }
  
  .rating {
    float: left;
    width: 45%;
    margin-right: 5%;
    text-align: center;
  }
  
  .rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em; 
  }
  
  .rating-users {
    font-size: 14px;
  }
  
  .histo {
    float: left;
    width: 50%;
    font-size: 13px;
  }
  
  .histo-star {
    float: left;
    padding: 3px;
  
  }
  
  .histo-rate {
    width: 100%;
    display: block;
    clear: both;
  }
  
  .bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
  }
